###################################################################
#
# SPDX-FileCopyrightText: 2021 Henrik Sandklef
#
# SPDX-License-Identifier: GPL-3.0-or-later
#
###################################################################

*~
__pycache__
*.pdf
*.html
*.png

dist
build
flict.egg-info

test/all.log
.pytest_cache