name: Push test pipeline

on: [push, pull_request]

jobs:
  gitlint:
      runs-on: ubuntu-latest
      name: GitLint
      steps:
        - name: Lint commits
          uses: aschbacd/gitlint-action@v1.0.1
          with:
            github-token: ${{ secrets.GITHUB_TOKEN }}
            commit-message-body-max-length: 72
            commit-message-body-min-length: 1
            commit-message-subject-max-length: 50
            commit-message-subject-min-length: 10
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9', '3.10']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
    - name: Build
      run: python3 setup.py build
    - name: Install
      run: python3 setup.py install
    - name: Test
      run: |
        cd tests
        JUNIT_REPORT=1 ./all.sh
      shell: bash
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v2
      if: always() # always run even if the previous step fails
      with:
        report_paths: '**/TEST-*.xml'
    - name: Install additional tooling
      run: |
        pip3 install reuse
    - name: Reuse check
      run: |
        reuse lint
